/*
 * Pure Javascript Upload [VERSION]
 * An adaptation of valums ajaxupload(http://valums.com/ajax-upload/)
 * [DATE]
 * Corey Hart @ http://www.codenothing.com
 */
h3 {
	margin: 0;
	padding: 0;
}

label {
	font-size: 9pt;
}

#upload-wrapper {
	width: 800px;
	margin: 20px auto;
}

#drop-area {
	display: none;
	background: #4cfa6f;
	border: 4px solid #05d62f;
	text-align: center;
	padding: 50px 0;
	margin: 30px 0;
	color: white;
	font-size: 16pt;
}

#drop-area.hover {
	border: 4px solid #fbea56;
	color: #fbea56;
}

#input-upload {
	float: left;
	width: 46%;
	height: 250px;
	background: #f2f2f2;
	border: 2px solid #d6d6d6;
	padding: 10px;
}

#server-wrapper {
	float: left;
	width: 46%;
	height: 250px;
	margin-left: 2%;
	background: #f2f2f2;
	border: 2px solid #d6d6d6;
	padding: 10px;
	overflow: auto;
}

#server-wrapper.loading {
	background-image: url(spinner.gif);
	background-position: center center;
	background-repeat: no-repeat;
}

#server-wrapper.success {
	background: #cdfed5;
	border: 2px solid #88fc9b;
}

#server-wrapper.error {
	background: #fedcdd;
	border: 2px solid #fda1a2;
}

#server-response {
	font-size: 9pt;
}

.upload-row {
	margin: 10px 0;
}


/* Documentation */
h2 {
	margin: 40px 0 0 0;
}

h4 {
	background: #eee;
	margin: 40px 0 10px 0;
	padding: 10px;
	font-size: 16pt;
	font-weight: bold;
	color: #444;
}

h5 {
	background: #f1f1f1;
	color: #555;
	margin: 0;
	padding: 5px;
	font-size: 12pt;
	font-weight: normal;
}

h5 span {
	font-weight: bold;
	font-size: 14pt;
}

#docs {
	font-size: 12pt;
}

#docs ul {
	list-style: none;
	margin: 10px 0 0 0;
	padding: 0;
}

#docs ul li {
	margin: 20px 40px;
	width: 400px;
	padding: 0;
}
